{% extends 'blog/base.html' %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class="form-section">
        <h2>Кабинет пользователя</h2>
        <div class="media text-muted pt-3">
            <img class="mr-2 rounded" style='width: 64px;height: 64px' src="{{ user.profile.img.url }}" alt="">
            <p class="pb-3 mb-0 small lh-sm border-bottom">
                <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
                <b>Email</b>: {{ user.email }}
            </p>
        </div>
    </div>

{% endblock %}

